@model Tuple<List<SlnPruebaTecnica.Models.Persona>, List<SlnPruebaTecnica.Models.Nacionalidad>, List<SlnPruebaTecnica.Models.Residencium>>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form id="formPersonData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">ID</label>
                <input id="ID" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input id="Nombre" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Apellido</label>
                <input id="Apellido" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha Nacimiento</label>
                <input id="FechaNacimiento" type="date" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Residencia</label>
                <select id="residencia" class="form-control">
                    @foreach (var res in Model.Item3) {
                        <option value="@res.IdResidencia">@res.Descripcion</option>
                    }
                </select>
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Nacionalidad</label>
                 <select id="nacionalidad" class="form-control">
                    @foreach (var nac in Model.Item2)
                    {
                        <option value="@nac.IdNacionalidad">@nac.Descripcion</option>
                    }
                </select>
                <span class="text-danger"></span>
            </div>
        </form>
        <button id="Insertar" class="btn btn-primary mt-3">Insertar</button>
    </div>

</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Fecha Nacimiento
                </th>
                <th>
                    Residencia
                </th>
                <th>
                    Nacionalidad
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @foreach(var res in Model.Item3){
                            if(item.IdResidencia == res.IdResidencia ){
                                @Html.DisplayFor(modelItem => res.Descripcion)
                            }
                        }
                    </td>
                    <td>
                        @foreach (var nac in Model.Item2)
                        {
                            if (item.IdResidencia == nac.IdNacionalidad)
                            {
                                @Html.DisplayFor(modelItem => nac.Descripcion)
                            }
                        }   
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>