@model IEnumerable<SlnPruebaTecnica.Models.Persona>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label"></label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"></label>
                <input  class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"></label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"></label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"></label>
                <input class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"></label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Residencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nacionalidad)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Residencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidad)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
